<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WeatherOWM App</title>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="shortcut icon" href="~/Content/Sunny.png" type="image/png">
</head>
<body>
    <header class="w3-bar">
        <a class="w3-bar-item" href=@Url.RouteUrl("Empty")><img src="~/Content/Sunny.png" title="Sun" />WeatherOWM</a>        
        @Html.RouteLink("History", "History", null, new { @class = "w3-bar-item w3-right" })       
        @Html.RouteLink("Lviv", "WeatherOnlyCity", new { city = "Lviv" }, new { @class = "w3-bar-item w3-right" })
        @Html.RouteLink("Kiev", "WeatherOnlyCity", new { city = "Kiev" }, new { @class = "w3-bar-item w3-right" })
    </header>
    <main>
        @RenderBody()
    </main>        
    <footer>
        <div>
            WeatherApp is application which help everybody to find out about weather in dependency of your request city.<br />
            Nice too meet you soon. :)
        </div>
        <hr />
        <div>
            Our contacts:<br />
            UA, Kiev, 23021.<br />
            Bogdan Stupka's Street, 9<br />
            Phone: +380 44 237 91 30<br />
            e-mail support@weatherapp.com <br />           
            &copy; @DateTime.Now.Year - WeatherApp            
        </div>
    </footer>
</body>
</html>