@model WeatherApp.OwmService.WeatherOwm

@{ 
    ViewBag.Title = Model.City.Name;
}
<hr />
<div class="w3-col s12 m12 l3">
    <h1>@Model.City.Name (@Model.City.Country)</h1>

    @using (Html.BeginForm())
    {
        <div class="w3-group">
            <input type="text" class="w3-input w3-round-large" name="city" placeholder="Input city name" required>
            @Html.Hidden("qtyDays", Model.City.Name)
            <button type="submit" class="w3-button w3-block w3-ripple w3-orange w3-round-large">Show</button>
        </div>
    }
    @Html.Action("GetFavorites", "City")
    @Html.Action("GetHistory", "WeatherHistory")
</div>
<div class="w3-col l9">
    <p>
        <span class="days-selector">
            @Html.RouteLink("1 day", "FullWeather", new { city = Model.City.Name, qtyDays = 1 }, new { @class = Model.Cnt == 1 ? "underline" : "" }) |
            @Html.RouteLink("3 days", "FullWeather", new { city = Model.City.Name, qtyDays = 3 }, new { @class = Model.Cnt == 3 ? "underline" : "" }) |
            @Html.RouteLink("7 days", "FullWeather", new { city = Model.City.Name, qtyDays = 7 }, new { @class = Model.Cnt == 7 ? "underline" : "" })
        </span>
    </p>
    <table class="w3-table w3-bordered w3-centered">
        <tbody>
            <tr>
                <td><p><img src="~/Content/calendar.png" title="Calendar" /></p></td>
                <td><p><img src="~/Content/temperature.png" title="Temperature" /></p></td>
                <td><p><img src="~/Content/humidity.png" title="Humidity" /></p></td>
                <td><p><img src="~/Content/pressure.ico" title="Pressure" /></p></td>
                <td><p><img src="~/Content/wind.png" title="Wind" /></p></td>
                <td><p><img src="~/Content/cloud.png" title="Cloud" /></p></td>
            </tr>
            @for (int i = 0; i < Model.Cnt; i++)
            {
                <tr>
                    <td>
                        @DateTime.Today.AddDays(i).ToString("dd.MM")
                    </td>
                    <td>
                        <ul>
                            <li><small>Morning:</small> @Model.List[i].Temp.Morn°C</li>
                            <li><small>Day:</small> @Model.List[i].Temp.Day°C</li>
                            <li><small>Evening:</small> @Model.List[i].Temp.Eve°C</li>
                            <li><small>Night:</small> @Model.List[i].Temp.Night°C</li>
                            <li><small>Min:</small> @Model.List[i].Temp.Min°C</li>
                            <li><small>Max:</small> @Model.List[i].Temp.Max°C</li>
                        </ul>
                    </td>
                    <td>@Model.List[i].Humidity %</td>
                    <td>@Model.List[i].Pressure Pa</td>
                    <td>@Model.List[i].Speed m/s @Model.List[i].Deg°</td>
                    <td>@Model.List[i].Clouds %</td>
                </tr>
            }
        </tbody>
    </table>
</div>