@model WeatherApp.Domain.Concrete.WeatherOWM

@{ 
    ViewBag.Title = Model.city.name;
}

<div class="w3-col s12 m12 l3">
    <h1>@Model.city.name</h1>

    @using (Html.BeginForm("ShowWeather", "Weather"))
    {
        <div class="w3-group">
            <input type="text" class="w3-input" name="city" placeholder="Input city name" required>
            @Html.Hidden("qtyDays", Model.city.name)
            <button type="submit" class="w3-button w3-block w3-ripple w3-orange">Show</button>
        </div>
    }
    <ul class="w3-ul">
        <li>
            @Html.RouteLink("Kiev", "Default", new { city = "Kiev", qtyDays = Model.list.Count })
        </li>
        <li>
            @Html.RouteLink("Lviv", "Default", new { city = "Lviv", qtyDays = Model.list.Count })
        </li>
        <li>
            @Html.RouteLink("Kharkiv", "Default", new { city = "Kharkiv", qtyDays = Model.list.Count })
        </li>
        <li>
            @Html.RouteLink("Dnipropetrovsk", "Default", new { city = "Dnipropetrovsk", qtyDays = Model.list.Count })
        </li>
        <li>
            @Html.RouteLink("Odessa", "Default", new { city = "Odessa", qtyDays = Model.list.Count })
        </li>
    </ul>
</div>
<div class="w3-col l9">
    <p>
        @Html.RouteLink("1 day", "Default", new { city = Model.city.name, qtyDays = 1 }, new { @class = Model.cnt == 1 ? "underline" : "" }) | 
        @Html.RouteLink("3 days", "Default", new { city = Model.city.name, qtyDays = 3 }, new { @class = Model.cnt == 3 ? "underline" : "" }) | 
        @Html.RouteLink("7 days", "Default", new { city = Model.city.name, qtyDays = 7 }, new { @class = Model.cnt == 7 ? "underline" : "" })
    </p>
    <table class="w3-table w3-bordered w3-centered">
        <tbody>
            <tr>
                <td><p><img src="~/Content/calendar.png" title="Calendar" /></p></td>
                <td><p><img src="~/Content/temperature.png" title="Temperature" /></p></td>
                <td><p><img src="~/Content/humidity.png" title="Humidity" /></p></td>
                <td><p><img src="~/Content/pressure.ico" title="Pressure" /></p></td>
                <td><p><img src="~/Content/wind.png" title="Wind" /></p></td>
                <td><p><img src="~/Content/cloud.png" title="Cloud" /></p></td>
            </tr>
            @for (int i = 0; i < Model.cnt; i++)
            {
                <tr>
                    <td>
                        @DateTime.Today.AddDays(i).ToString("dd.MM")
                    </td>
                    <td>
                        <ul>
                            <li><small>Morning:</small> @Model.list[i].temp.morn °C</li>
                            <li><small>Day:</small> @Model.list[i].temp.day °C</li>
                            <li><small>Evening:</small> @Model.list[i].temp.eve °C</li>
                            <li><small>Night:</small> @Model.list[i].temp.night °C</li>
                            <li><small>Min:</small> @Model.list[i].temp.min °C</li>
                            <li><small>Max:</small> @Model.list[i].temp.max °C</li>
                        </ul>
                    </td>
                    <td>@Model.list[i].humidity %</td>
                    <td>@Model.list[i].pressure Pa</td>
                    <td>@Model.list[i].speed m/s @Model.list[i].deg °</td>
                    <td>@Model.list[i].clouds %</td>
                </tr>
            }
        </tbody>
    </table>
</div>