@model WeatherApp.Domain.Entities.City

@{
    ViewBag.Title = "Edit " + Model.Name;
}
<div class="w3-display-middle">
    @using (Html.BeginForm())
    {
        <div class="w3-group">
            <h2>Edit @Model.Name</h2>
            @Html.HiddenFor(model => model.Id)            
            <input type="text" value="@Model.Name" class="w3-input w3-round-large" name="Name" placeholder="Input city name" required>            
            <hr />
            <button type="submit" class="w3-button w3-block w3-ripple w3-blue w3-round-large">Save changes</button>            
            @Html.ActionLink("Delete", "Delete", "City", new { id = Model.Id }, new { @class = "w3-button w3-block w3-ripple w3-red w3-round-large" })
            @Html.RouteLink("Back to main", "Empty", null, new { @class = "w3-btn w3-block w3-white w3-border w3-border-blue w3-text-blue w3-round-large" })        
        </div>
    }
</div>
